/delete-node/ &boot_partition;
/delete-node/ &slot0_partition;
/delete-node/ &slot1_partition;
/ {
    aliases {
        led5180 = &led1;
        button5180 = &button0;
    };
};
&flash0 {
    partitions {
        slot0_partition: partition@0 {
            compatible = "zephyr,mapped-partition";
            label = "image-0";
            reg = <0x00000000 0xf0000>;
            ranges = <0x0 0x0 0xf0000>;
            #address-cells = <1>;
            #size-cells = <1>;

            slot0_s_partition: partition@0 {
                compatible = "zephyr,mapped-partition";
                label = "image-0-secure";
                reg = <0x00000000 0x40000>;
            };

            slot0_ns_partition: partition@40000 {
                compatible = "zephyr,mapped-partition";
                label = "image-0-nonsecure";
                reg = <0x00040000 0xb0000>;
            };
        };
    };
};
/* BME280 on I2C1: SDA=P1.15, SCL=P1.14 */
&i2c1 {
    status = "okay";
    pinctrl-0 = <&i2c1_default>;
    pinctrl-1 = <&i2c1_sleep>;
    pinctrl-names = "default", "sleep";

    bme280_lab: bme280@77 {
        compatible = "i2c-device";
        status = "okay";
        reg = <0x77>;
    };
};

/* Override the board default pins for this lab */
&i2c1_default {
    group1 {
        psels = <NRF_PSEL(TWIM_SDA, 1, 15)>,
                <NRF_PSEL(TWIM_SCL, 1, 14)>;
    };
};

&i2c1_sleep {
    group1 {
        psels = <NRF_PSEL(TWIM_SDA, 1, 15)>,
                <NRF_PSEL(TWIM_SCL, 1, 14)>;
        low-power-enable;
    };
};